body {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 16px;
}

.container {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: cursive;
    padding: 0.5rem;
}

.menu {
    background-color: red;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: 2px dotted rgb(0, 0, 0);
    border-radius: 8px;
}

.menu a:hover {
    background-color: rgb(236, 225, 59);
    color: red;
}

.portada {
    position: relative;
    margin: 5%;
    padding: 2%;
    border: 0.5rem dotted black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.portada-img {
    max-width: 170%;
    height: auto;
}

.logo {
    position: absolute;
    top: -5rem;
    left: -17rem;
}

.img_logo {
    max-width: 50%;
    height: auto;
}

.logo2 {
    position: absolute;
    top: -13rem;
    right: -22rem;
}

.img_logo2 {
    max-width: 50%;
    height: auto;
}

.container2 {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-family: cursive;
    border: 0.5rem dotted black;
    width: 40%;
    margin-top: 2rem;
    margin-left: 5rem;
}

.contenido-extra {
    display: flex;
    margin-top: 2rem;
}

.imagen-extra img {
    max-width: 80%;
    height: auto;
    padding: 10px;
    border: 0.5rem dotted black;
    margin-left: 4rem;
}

.parrafo-izquierda {
    margin-right: 4rem;
    padding: 1rem;
    border: 0.3rem dotted red;
    background-color: rgb(127, 223, 247);
    font-size: 0.9rem;
    padding: 1rem;
    width: 30%;
    height: 20rem;
}

.parrafo-grande {
    margin-right: 4rem;
    padding: 1rem;
    border: 0.3rem dotted red;
    background-color: rgb(127, 223, 247);
    font-size: 1.1rem;
    padding: 1rem;
    width: 50%;
    height: 40rem;
    margin-top: -2rem;
}

.nuevo-parrafo {
    background-color: red;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: cursive;
    border: 0.5rem dotted black;
    width: 40%;
    margin-top: -5rem; 
    margin-left: 5rem; 
    margin-right: auto;
    padding: 1rem;
}
.redes-sociales {
    text-align: center;
    margin-top: 2rem;
}

.social-button {
    display: inline-block;
    margin: 0 1rem;
}

.social-button img {
    width: 40px;
    height: 40px;
    border: none;
}

.social-button:nth-child(4) {
    background-color: #ff9900;
    color: white; 
    border: 2px solid #ff9900; 
    border-radius: 5px; 
    padding: 10px 20px; 
    text-decoration: none; 
    font-size: 16px;
    font-weight: bold; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-button:nth-child(4):hover {  
    background-color: white;
    color: #ff9900;
}




@media (max-width: 768px) {
    .container {
        font-size: 1.5rem;
    }
}
